.ipynb_checkpoints
#project/data
project/__pycache__
*.ipynb
project/docs
*__pycache__
data
notebooks/pandas/data
notebooks/pandas/a500_pandas_data.zip
*.nc
*.csv
*.pdf
.vscode*
*.npz
opt.*
#*.pkl
#.png
*.zip